<mat-toolbar color="primary">
  <div fxHide.gt-xs="">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <a routerLink="/home">
      <img class="logo" src="assets/img/logo.png" alt="logo">
<!--      <div>Техническая поддержка</div>-->
    </a>
    <a routerLink="/home">
      Техническая поддержка
    </a>

  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/task/tasks">Список заданий</a>
      </li>
      <li>
        <a routerLink="/account">Account Action</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
