/* You can add global styles to this file, and also import other style files */

// Angular material theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}
