<section fxLayout="column wrap">
  <div fxFlexAlign="center">
    <p>Приветствуем</p>
  </div>

  <p>some text</p>

  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="some label">
      <p>some text</p>
    </mat-tab>
    <mat-tab label="some label">
      <p>some text</p>
    </mat-tab>
    <mat-tab label="some label">
      <p>some text</p>
    </mat-tab>
  </mat-tab-group>
</section>
