<table mat-table [dataSource]="dataSourse" matSort>
  <ng-container matColumnDef="baseTask">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Основание</th>
    <td mat-cell *matCellDef="let element">{{element.baseTask}}</td>
  </ng-container>

  <ng-container matColumnDef="reporter">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Заявитель</th>
    <td mat-cell *matCellDef="let element">{{element.reporter}}</td>
  </ng-container>

  <ng-container matColumnDef="initiator">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Инициатор</th>
    <td mat-cell *matCellDef="let element">{{element.initiator}}</td>
  </ng-container>

  <ng-container matColumnDef="summary">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Краткое описание</th>
    <td mat-cell *matCellDef="let element">{{element.summary}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Описание</th>
    <td mat-cell *matCellDef="let element">{{element.description}}</td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Приоритет</th>
    <td mat-cell *matCellDef="let element">{{element.priority}}</td>
  </ng-container>

  <ng-container matColumnDef="fromDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Начиная с</th>
    <td mat-cell *matCellDef="let element">{{element.fromDate}}</td>
  </ng-container>

  <ng-container matColumnDef="toDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Заканчивая</th>
    <td mat-cell *matCellDef="let element">{{element.toDate}}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
    <td mat-cell *matCellDef="let element">{{element.status}}</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Детально</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
        <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>Изменить</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
        <mat-icon class="mat-18">system_update</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Удалить</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
